body #cmplz-cookiebanner-container .cmplz-cookiebanner.cmplz-dismissed {
  display: block !important;
}

.hel-cookie-consent {
  font-size: 1rem;
  max-height: 80vh;
}

.hel-cookie-consent p {
  font-size: inherit;
  max-width: 860px;
}

.hel-cookie-consent .hel-cookie-consent__title {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  margin: 0 0 1rem;
}

.hel-cookie-consent .hel-cookie-consent__description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 1rem;
}

.hel-cookie-consent .hel-cookie-consent__container {
  --max-width: 1200px;
  --padding: 2rem 1.5rem;

  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  padding: var(--padding);
}

.hel-cookie-consent .cookie-list {
  border-bottom: 1px solid #666;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.hel-cookie-consent .cookie-list:first-of-type {
  border-top: 1px solid #666;
}

.hel-cookie-consent .toggle {
  margin-bottom: 1rem;
}

.hel-cookie-consent .panel {
  display: grid;
  grid-template-rows: 1fr;
  transition: grid-template-rows 0.2s linear;
}

.hel-cookie-consent .panel__animator {
  margin-left: -5px;
  margin-right: -5px;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
  transform: translateY(0);
}

.hel-cookie-consent .toggle[aria-expanded="false"] + .panel {
  grid-template-rows: 0fr;
}

.hel-cookie-consent .toggle[aria-expanded="false"] + .panel > .panel__animator {
  transition: visibility 0s linear 0.2s;
  visibility: hidden;
}

.hel-cookie-consent .cookies-panel__title {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.75;
  margin: 1.25rem 0;
}

.hel-cookie-consent .cookies-panel__content {
  padding-bottom: 2rem;
}

.hel-cookie-consent .hel-cookie-consent__buttons {
  --direction: row;
  --gap: 1rem;

  display: flex;
  flex-direction: var(--direction);
  gap: var(--gap);
}

.hel-cookie-consent.cookies-panel-visible .accept-selected-cookies,
.hel-cookie-consent .toggle[aria-expanded="false"] .show,
.hel-cookie-consent .toggle[aria-expanded="true"] .hide {
  display: block;
}

.hel-cookie-consent .accept-selected-cookies,
.hel-cookie-consent.cookies-panel-visible .accept-all-cookies,
.hel-cookie-consent .toggle[aria-expanded="true"] .show,
.hel-cookie-consent .toggle[aria-expanded="false"] .hide {
  display: none;
}
