.wp-cookie-consent-placeholder {
  background-color: var(--placeholder-background-color, transparent);
  box-sizing: border-box;
  max-width: var(--placeholder-max-width, 892px) !important;
  margin: var(--placeholder-margin, 16px) !important;
  padding: var(--placeholder-padding, 16px) !important;
  width: 100%;

  .wp-block-heading {
    font-size: var(--placeholder-heading-font-size, 1.25rem);
    font-weight: var(--placeholder-heading-font-weight, 500);
    line-height: var(--placeholder-heading-line-height, 1.5);
  }

  .icon {
    --icon-size: 24px;
  }

  .icon + .wp-block-heading {
    margin-top: 0;
  }
}

.wp-cookie-consent-iframe.has-placeholder {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;

  .wp-cookie-consent-placeholder {
    --placeholder-background-color: #fff;
  }
}

@media (min-width: 768px) {
  .wp-cookie-consent-placeholder {
    --placeholder-max-width: 924px;
    --placeholder-margin: 64px;
    --placeholder-padding: 32px;
  }
}

@media (min-width: 992px) {
  .wp-cookie-consent-placeholder {
    .wp-block-heading {
      --placeholder-heading-font-size: 1.5rem;
      --placeholder-heading-line-height: 1.25;
    }
  }
}
